{
  "semi": true,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "vueIndentScriptAndStyle": false,
  "trailingComma": "es5",
  "bracketSpacing": true
}
